{% load static %}

<footer class="footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>Property Verification</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Help Centre</a></li>
                    <li><a href="#">News and Notices</a></li>
                    <li><a href="#">Statistics</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>About</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms of Use</a></li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Connect with Us</h5>
                <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="#"><i class="bi bi-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-twitter-x"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="bi bi-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

        <hr class="my-4">

        <div class="row align-items-center">
            <div class="col-md-6 mb-3 mb-md-0">
                <img src="{% static 'images/register_property_logo.png' %}" alt="Government Logo" class="footer-logo" style="max-height: 50px;">
                <p class="mb-0">Ministry of Economy, Innovation & Employment</p>
                <p>Andikisha Umutungo wawe</p>
            </div>
            <div class="col-md-6 text-md-end">
                <p class="mb-0">Government of Rwanda</p>
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col-12 text-center">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="#">Copyright</a></li>
                </ul>
                <p class="mb-0">&copy; 2024 Rwanda Property Registration. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>